{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <h1 style="text-align: center;margin-top: 50pt;">{{ title }}</h1>
    <form method="POST">
        <h3>Informasi Umum Penggalangan Dana</h3>
    {% csrf_token %}
    {{ form | crispy }}
    <h3>Informasi Tambahan Penggalangan Dana</h3> 
    {% if request.session.kategori == 'kesehatan' %}
        {{ form1|crispy }}
    {% elif request.session.kategori == 'rumah ibadah' %}
        {{ form2|crispy }}
    {% else %}
        {{ form3|crispy }}
    {% endif %}    
    <input class="btn btn-light"  name="num" type="submit" value="Cancel">
</form>
    {% endblock content %}