{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> {{ title }} </title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content  %}
    <ul class="nav nav-pills nav-fill">
    {% if title == "Register Pengguna Dana" %}
        <li class="nav-item">
            <a class="nav-link active" href="#">Penggalang Dana</a>
        </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'register_penggalang_dana' %}">Registrasi Penggalang Dana</a>
        </li>
    {% endif %}

    {% if title == "Register Admin Sistem" %}
        <li class="nav-item">
            <a class="nav-link active" href="#">Admin Sistem</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register_admin' %}">Registrasi Admin</a>
        </li>
    {% endif %}
    </ul>
        <hr class="my-4">
    <h1 class="display-4">{{ title }} </h1>
    <hr class="my-4">
    <form method = "POST">
        {% csrf_token %}
        {{ form|crispy }}
        
    {% if title == "Register Admin" %}
    <input class="btn btn-light" type="submit" value="Submit">
    {% elif title == "Register Penggalang Dana" %}
    <input class="btn btn-light" type="submit" value="Next">
        {% endif %}
</form>
{% endblock %}

{% block extra_script %}

{% endblock extra_script %}